<!DOCTYPE html>
<html lang="en">
<head>
<% include ../partials/head %> 
</head>
<body>
<% include ../partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3>Account created</h3><br>
</div>
<center>
<div>
    Name:<%=addUser.name%><br>
    ID:<%=addUser._id%><br>
    Username:<%=addUser.username%><br>
    Email:<%=addUser.email%><br>
    Phone:<%=addUser.phone%><br>
    Gender:<%=addUser.gender%><br>
</div> 
</center>
</body>
<% include ../partials/script %>
</html>