<!DOCTYPE html>
<html lang="en">
<head>
<% include ./partials/head %> 
</head>
<body>
<% include ./partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3>Account created</h3><br>
</div>
<center>
<div>
    Name:<%=newUser.name%><br>
    ID:<%=newUser._id%><br>
    Username:<%=newUser.username%><br>
    Email:<%=newUser.email%><br>
    Phone:<%=newUser.phone%><br>
    Gender:<%=newUser.gender%><br>
</div> 
</center>
</body>
<% include ./partials/script %>
</html>