<!DOCTYPE html>
<html lang="en">
<head>
<% include ./partials/head %> 
</head>
<body>
<% include ./partials/menu-login %>
<div class="container-fluid bg-3 text-center">    
  <h3>Profile</h3><br>
</div>
<center>
<div>
    Name:<%=user.name%><br>
    ID:<%=user._id%><br>
    Username:<%=user.username%><br>
    Email:<%=user.email%><br>
    Phone:<%=user.phone%><br>
    Gender:<%=user.gender%><br>
</div> 
</center>
</body>
<% include ./partials/script %>
</html>